footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:white;
   color: white;
   text-align: center;
  
}

  
  footer img {
    max-width: 30px;
    padding-left: 10px;;
    padding-right: 10px;
    justify-content: center;
    left:500px;
   
  }
  
  